.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sales-dashboard{
  display: flex;
 justify-content: center;
 flex-direction: column;

}
.table-title{
  font-size: large;
  display: flex;
  justify-content: center;
  margin: 15px;
  font-weight: bold;

}
.table-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  margin-top: 15px;
  position: relative;
  align-self: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  padding: 13px;
  width: 150px;
}
 .table-column{
  th{
   
    height: 50px;
    
  }
}
button{
  padding: 8px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
}
input{
  padding: 8px;
}
.table-total{
  margin-top: 10px;
  font-weight: bold;
  display: flex;
 justify-content: center;
}
